/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

/* General Declarations */

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  position: relative;
  scroll-behavior: smooth;
  color: #293241;
  background-color: #fafafa;
}

/* Remove all text decorations */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  color: #3d5a80;
}

p {
  color: #293241;
}

.btn-primary {
  margin: 10px 10px 10px 0;
  background-color: #3d5a80;
  border-color: #3d5a80;
  padding: 5px 15px;
  border-radius: 40px;
}

.btn-primary:hover {
  background-color: #293241;
  border-color: #293241;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #3d5a80 !important;
  border-color: #3d5a80 !important;
}

.btn-outline-primary {
  margin: 10px 10px 10px 0;
  border-color: #3d5a80;
  color: #3d5a80;
  padding: 5px 15px;
  border-radius: 40px;
}

.btn-outline-primary:hover {
  background-color: #293241 !important;
  border-color: #293241 !important;
}

.btn-outline-primary:active {
  background-color: #3d5a80 !important;
  border-color: #3d5a80 !important;
  color: #fafafa;
}

.btn-disabled {
  pointer-events: none;
  cursor: default;
}

.btn-light {
  background-color: #fafafa;
}

.linebreak {
  height: 10px;
  width: 50px;
  background-color: #293241;
}

/* Colors */

.c-blue {
  color: #3d5a80;
}

.c-pale-blue {
  color: #98c1d9;
}

.c-light {
  color: #fafafa;
}

.c-orange {
  color: #ee6c4d;
}

.c-dark {
  color: #293241;
}

.bg-blue {
  background-color: #3d5a80;
}

.bg-pale-blue {
  background-color: #98c1d9;
}

.bg-light {
  background-color: #fafafa;
}

.bg-orange {
  background-color: #ee6c4d;
}

.bg-dark {
  background-color: #293241;
}

/* Navbar */

.nav-item {
  padding-left: 20px;
}

/* Hover.css */

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ee6c4d;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Home */

.jumbotron {
  background-image: url("../img/thiago-hardt-wide.jpg");
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
}

.container-header {
  margin-top: 20%;
}

.jumbotron h1 {
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

/* About */

/* Image cropper by
https://medium.com/@biancapower/how-to-make-a-rectangle-image-a-circle-in-css-2f392bc9abd3 */

.image-cropper--profile {
  max-width: fit-content;
  padding: 0;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
  margin: 0 auto;
  margin-left: -30%;
  height: 100%;
}

.image-cropper--projects {
  max-width: fit-content;
  padding: 0;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.image-projects {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  transition: all 0.4s ease-out;
}

.image-projects:hover {
  backface-visibility: hidden;
  transform: scale(1.15, 1.15);
  opacity: 1;
  transition: all 0.3s ease-out;
}

/* Contact */

.container-contact {
  height: auto;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(61, 90, 128, 1) 0%,
    rgba(41, 50, 65, 1) 100%
  );
}

.container-footer {
  height: auto;
  position: relative;
  margin-top: auto;
}

.text-copyright {
  margin: 15px;
  font-weight: 300;
}
a:hover {
  color: #293241;
  transition: ease-in-out 0.3s;
}

.icon-footer {
  font-size: 2.5rem;
  color: #fafafa;
  margin: 15px;
}

.icon-footer:hover {
  color: #293241;
  transition: ease-in-out 0.3s;
}

.email-container {
  text-align: center;
  padding: 10px;
  width: auto;
}

.email-container .btn-outline-primary {
  color: #fafafa;
  border-color: #fafafa;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .jumbotron {
    background-position: bottom;
  }

  .jumbotron a {
    font-size: 13px;
  }
}
