/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

/* General Declarations */

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  position: relative;
  scroll-behavior: smooth;
  color: #293241;
  background-color: #fafafa;
}

/* Remove all text decorations */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  color: #3d5a80;
}

p {
  color: #293241;
}

.btn-primary {
  margin: 10px 10px 10px 0;
  background-color: #3d5a80;
  border-color: #3d5a80;
  padding: 5px;
}

.btn-primary:hover {
  background-color: #293241;
  border-color: #293241;
}

.btn-outline-primary {
  margin: 10px 10px 10px 0;
  border-color: #3d5a80;
  color: #3d5a80;
  padding: 5px;
}

.btn-outline-primary:hover {
  border: #3d5a80;
  background-color: #3d5a80;
  color: #e0fbfc;
}

.btn-light {
  background-color: #fafafa;
}

.linebreak {
  height: 10px;
  width: 50px;
  background-color: #293241;
}

/* Colors */

.c-blue {
  color: #3d5a80;
}

.c-pale-blue {
  color: #98c1d9;
}

.c-light {
  color: #fafafa;
}

.c-orange {
  color: #ee6c4d;
}

.c-dark {
  color: #293241;
}

.bg-blue {
  background-color: #3d5a80;
}

.bg-pale-blue {
  background-color: #98c1d9;
}

.bg-light {
  background-color: #fafafa;
}

.bg-orange {
  background-color: #ee6c4d;
}

.bg-dark {
  background-color: #293241;
}

/* Navbar */

.nav-item {
  padding-left: 20px;
}

/* Home */

.jumbotron {
  background-image: url(..assets\img\thiago-hardt-wide.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-header {
  margin-top: 20%;
}

.jumbotron h1 {
  text-align: center;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

.jumbotron h1 span {
  text-align: center;
  font-weight: bold;
}

/* About */

/* Image cropper by
https://medium.com/@biancapower/how-to-make-a-rectangle-image-a-circle-in-css-2f392bc9abd3 */

.image-cropper--profile {
  max-width: fit-content;
  padding: 0;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.image-cropper--projects {
  max-width: fit-content;
  padding: 0;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

/* Contact */

.container-contact {
  height: auto;
  position: absolute;
}

.container-footer {
  height: 3rem;
  position: relative;
  margin-top: auto;
}

.container-contact--form {
  max-width: 600px;
}

.text-copyright {
  margin: 15px;
  font-weight: 300;
  text-decoration: none;
}

.form-control:hover {
  border-color: #ee6c4d;
  opacity: 0.5;
}

.icon-footer {
  font-size: 2rem;
  color: #fafafa;
  margin: 5px;
}

.svg-container {
  position: absolute;
}
